* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #04367d;

    margin-top: -16px;
}

.caixa_cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

    background-color: #064BAE;
    border: 2px solid #01183a;
    border-radius: 10px;
    width: 220px;
    height: 50px;

}

.caixa_cadastro:hover {
    font-size: 18px;
    scale: 1.1;
    /* box-shadow: black; */
}

.caixa_cadastro li:hover {
    background-color: red;
}

.caixa_cadastro li {
    color: white;
}

.nav ul {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #064BAE;
    border-top: 2px #01183a solid;
    border-bottom: 2px #01183a solid;
    height: 25px;
    list-style-type: none;

    margin-top: 0px;
}

a {
    text-decoration: none;
}

.nav a {
    color: yellow;
    text-decoration: none;
}


.nav a:hover {
    color: white;
    /* background-color: #01183a; */
    font-size: 20px;
    scale: 1.1;

}


/* body */
body {
    /* background-image: url(./assets/imgs/background.png); */
    background-color: #04367d;
    background-size: cover;
}

.texto {
    padding: 6px;
    text-align: justify;
    color: white;
    background-image: url(./assets/imgs/background-text.jpg);
    background-size: auto;
    border: none;
    border-radius: 15px;
}

/* TELA CADASTRO */
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #064BAE;
    color: white;
    border-color: #01183a;
    border: 2px solid #01183a;
    border-radius: 10px;

    font-size: 20px;
    margin: 0 auto;
    height: 330px;
    width: 400px;
}

.cadastro p {
    margin-bottom: 2px;
}

.cadastro input {
    width: 50%;
    border: none;
    border-radius: 2px;
}