/* TELA DE DASHBOARD */
* {
    font-family: Helvetica, Arial, sans-serif;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/imgs/background.png);
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

/* SIDEBAR */
.sidebar {
    background-color: #01183a;
    height: 100%;
    width: 190px;
    top: 0;
    padding: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    height: 108px;
    width: 108px;
    border: 2px solid black;
    margin-top: 10px;
}

.sidebar p {
    margin-top: 4px;
    color: white;
    font-size: 20px;
}

.botao-sidebar-selecionado {
    padding: 6px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: 2px black solid;
    background-color: #064BAE;
    margin-bottom: 4px;
}

.dashboard-header {
    height: 55px;
    margin-left: 190px;
    background-color: #064BAE;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header a {
    color: white;
    text-decoration: underline;
}

.botao-sair-dash {
    display: flex;
    font-size: 25px;
    margin-right: 50px;
    color: white;
}

.texto-header {
    margin-left: 30px;
    font-size: 25px;
    color: white;
}

.dashboard-header p {
    margin: 0px;
}

/* KPI */
.container-kpi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 150px;
}

.container-kpi .header-kpi {
    flex-direction: column;
}

.kpi-dash {
    width: 790px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #01183ae6;
    box-shadow: 0 0 15px rgba(2, 6, 14, 0.6);

}

.header-kpi {
    text-align: center;
    color: white;
    display: flex;
    font-size: 20px;
    margin: 0px;
}

.caixas {
    display: flex;
}

.caixa-1 {
    background-color: #064BAE;
    width: 220px;
    height: 140px;
    border-radius: 10px;
}

.caixa-2 {
    background-color: #064BAE;
    width: 220px;
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.caixa-3 {
    background-color: #064BAE;
    width: 220px;
    height: 140px;
    border-radius: 10px;
}

/* GRÁFICOS */
.graficos-pai-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graficos-pai-principal-secundario {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PIZZA */
.graficos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.header-pizza {
    text-align: center;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.pizza {
    height: 400px;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    margin-left: 190px;
    margin-right: 15px;
    box-shadow: 0 0 15px rgba(2, 6, 14, 0.6);
    background-color: #01183a;
}

/* BARRAS */
.graficos-container2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header-barras {
    text-align: center;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.barras {
    height: 250px;
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(2, 6, 14, 0.6);
    background-color: #01183a;
}

.barras #graficoBarras {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

/* LINHA */
.graficos-container3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 150px;
}

.header-linha {
    text-align: center;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.linha {
    height: 205px;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(2, 6, 14, 0.6);
    background-color: #01183a;
}

.linha #graficoLinha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.linha2 {
    height: 205px;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(2, 6, 14, 0.6);
    background-color: #01183a;
    margin-bottom: 50px;
}

.linha2 #graficoLinha2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

/* TELA QUESTIONARIOS */
