@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    font-family: 'Chewy', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #04367d;
    margin-top: -16px;
}

.caixa_cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: #064BAE;
    border: 2px solid #01183a;
    border-radius: 10px;
    width: 220px;
    height: 50px;
}

.caixa_cadastro:hover {
    font-size: 18px;
    scale: 1.1;
}

.caixa_cadastro li {
    color: white;
}

.nav ul {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #064BAE;
    border-top: 2px #01183a solid;
    border-bottom: 2px #01183a solid;
    height: 25px;
    list-style-type: none;

    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.nav a {
    color: yellow;
    text-decoration: none;
}


.nav a:hover {
    color: white;
    /* background-color: #01183a; */
    font-size: 20px;
    scale: 1.1;

}


/* body */
body {
    /* background-image: url(./assets/imgs/background.png); */
    background-color: #04367d;
    background-size: cover;
}

.texto-container {
    background-image: url(../assets/imgs/background-text.jpg);
}

.texto {
    max-width: 1000px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    margin: auto;
    background-color: white;
}

.imagem-texto img {
    width: 530px;
    height: 380px;
}

.jogos {
    display: flex;
    width: fit-content;
    height: 150px;
}

/* TELA CADASTRO */
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #064BAE;
    color: white;
    border: 2px solid #01183a;
    border-radius: 10px;

    font-size: 20px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 565px;
    width: 420px;
}

.cadastro img {
    width: 150px;
    height: 180px;
}

.cadastro span {
    text-align: center;
    font-size: 14px;
}

.cadastro p {
    margin-bottom: 2px;
}

.cadastro input {
    width: 50%;
    border: none;
    border-radius: 2px;
}

.cadastro input {
    resize: 10px;
}

.cadastro button {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: none;
    width: 85px;
    height: 70px;
    color: #01183a;
}

.cadastro button:hover {
    cursor: pointer;
}

#div_aguardar {
    display: none;
    align-items: center;
    justify-content: center;
}

.loading-div {
    width: 50px;
    display: none
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #01183a 3px solid;
    padding: 10px;
    margin-right: 10%;
}

/* TELA LOGIN */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #064BAE;
    color: white;
    border: 2px solid #01183a;
    border-radius: 10px;

    font-size: 20px;
    margin: 0 auto;
    margin-top: 5px;
    height: 500px;
    width: 420px;
}

.img-login img {
    width: 150px;
    height: 200px;
}

.login .loading-div img {
    width: 80px;
    height: 80px;
}

.login span {
    text-align: center;
    font-size: 14px;
}

.login p {
    margin-bottom: 2px;
}

.login input {
    width: 50%;
    border: none;
    border-radius: 2px;
}

.login input {
    resize: 10px;
}

.login button {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: none;
    width: 20%;
    height: 35px;
    color: #01183a;
}

.login button:hover {
    cursor: pointer;
}

.login a {
    text-decoration: underline;
    color: #01183a;
}

#div_erros_login {
    display: none;
}

/* TELA DO FÓRUM */
.usuario {
    color: white;
    font-size: 20px;
    margin-top: 2px;
}

.btn-logout a {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.container-forum {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #04727D;
    margin-bottom: 5px;
}

.form-forum {
    display: flex;
    width: 300px;
    height: 320px;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
    border-radius: 15px;
    flex-direction: column;
    background-color: #161618;
    box-shadow: 10px 10px black;
    color: white;
}

.form-forum button {
    width: 225px;
    height: 30px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #04367d;
    color: white;
    border: none;
    cursor: pointer;
}

.container-posts h1 {
    margin-top: 40px;
    margin-left: 15px;
}

.container-posts {
    display: flex;
    flex-direction: column;
    background-color: #14CFD8;
    width: 100%;
}

.publicacao {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    max-width: 800px;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.div-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.publicacao-btn-editar,
.publicacao-btn-responder {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #04367d;
    color: white;
    border: none;
    cursor: pointer;
}

/* QUESTIONARIO */
.container-forum .container-questionario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #01183a;
    color: white;
}

#pontuacaoEJogo {
    background-color: #01183a;
    border-radius: 15px;
    color: white;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

/* TELA DE RESPOSTAS */
.container-mensagem {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    max-width: 800px;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* TELA DO JOGAR */

.header-jogos {
    background-image: url(../assets/imgs/background-text.jpg);
    color: white;
    text-align: justify;
    background-size: auto;
    font-size: 25px;
    text-align: center;
}

.gameloc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-jogos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.box-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #064bae;
    color: white;
    text-decoration: underline;
}

.box-jogo:hover {
    cursor: pointer;
}

.box-jogo img {
    width: 300px;
    height: 200px;
}

/* TELA DO RING CLICKER */
.container-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #01183a;
    color: white;
}

.ring {
    cursor: pointer;
}

.ring img:active {
    height: 190px;
    width: 170px;
}

.loja {
    display: flex;
    width: 700px;
    height: 90px;
    justify-content: space-around;
    background-color: red;
}

.loja .knuckles_hands {
    background-color: green;
    cursor: pointer;
}

.loja .chao_garden {
    background-color: green;
    cursor: pointer;
}